<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Rock Paper Scissors</title>
</head>
<body>
    <header>
        <h1>Rock Paper Scissors</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">How to Play</a></li>
            <li><a href="/play">Single Player</a></li>
        </ul>
    </nav>
    {% block content%}

    {% endblock %}
</body>
</html>